body {
    font-family: sans-serif;
    background-color: lightblue;
    text-align: center;
}
img{
    width: 400px;
}


.info{
    
    text-align: center;
    display: flex;
    justify-content: center;
    width: 1000px;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
}
article{
    width: 400px;
    background-color: rgb(240, 238, 238);
    padding-left: 10px;
    padding-right: 10px;
}
.info p{
    text-align: justify;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}
.button{
    color: black;
    font-size: 30px;
}
